@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary dark:bg-secondary text-black dark:text-primary;
  }
}

@layer components {
  .before-gradient {
    @apply absolute size-[320px] rounded-[50%] bg-backgroundCircle blur-[150px];
  }
  .social-icons {
    @apply border-secondary border-[1px] rounded-[50%] size-8 flex items-center justify-center dark:border-primary relative z-10 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-secondary before:scale-0 before:transition-all before:rounded-[50%]  before:-z-10 hover:before:scale-110 hover:text-primary dark:before:bg-primary dark:hover:text-secondary;
  }
  .section-header {
    @apply text-4xl xl:text-6xl font-bold dark:bg-textGradient bg-linearGradient bg-textGradientDark mb-3;
  }
  .link-animation {
    @apply relative before:absolute before:-bottom-[7px] before:left-0 before:h-[2px] before:bg-textGradient before:dark:bg-textGradientDark before:w-full before:rounded-[4px] hover:bg-transparent before:duration-300 before:ease-in-out before:scale-0 before:hover:scale-100 before:origin-left;
  }
  .link-animation-active {
    @apply relative before:absolute before:-bottom-[7px] before:left-0 before:h-[2px] before:bg-textGradient before:dark:bg-textGradientDark before:w-full before:rounded-[4px] hover:bg-transparent before:duration-300 before:ease-in-out before:scale-100 before:origin-left;
  }
}

.bg-linearGradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.row-3 {
  grid-row: span 3;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

pre {
  background-color: #a9a9a9;
  border-radius: 1px;
  margin-block: 10px;
}

.card-mask-image {
  -webkit-mask-image: linear-gradient(180deg, #000, transparent 100%);
  mask-image: linear-gradient(180deg, #000, transparent 100%);
}

.btn {
  padding-left: 0.3rem;
}

dialog {
  animation: modal-pop 0.2s ease-out;
}
